<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belgorodtravelguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelgorodTravelGuide">
        <activity android:name=".View.Entertainments.EntertainmentsActivity.Teatre.TheaterActivity"></activity>
        <activity android:name=".View.Entertainments.EntertainmentsActivity.Park.ParkActivity" />
        <activity android:name=".View.Entertainments.EntertainmentsActivity.ShoppingCenter.ShoppingCenterActivity" />
        <activity android:name=".View.Entertainments.EntertainmentsActivity.Cafe.CafeActivity" />
        <activity android:name=".View.Entertainments.EntertainmentsActivity.Move.MoveActivity" />
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>